<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>
			Calendar
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding id="page6">
	<a *ngFor="let day of Days">
		<div *ngIf="(Events[day] | json) != ({times: []} | json)" >
			<h1 background-color="stable">{{ day*86400000 | date:'LLLL d'}}</h1>
			<div *ngFor="let time of Events[day]['times']">
				<ion-list>
						<div  (click)="toggleGroup(time)" [ngClass]="{active: isGroupShown(time)}">
						<font size="2"><strong>{{ Events[day][time].Summary }}</strong></font>
						</div>
					<ion-item text-wrap background-color="stable">
						<div *ngIf="isGroupShown(time)">
							<font size="2" color="#3399ff">{{Events[day][time].Description}}</font><br />
							<font size="2">{{Events[day][time].Location}}</font><br />
							<font size="2" color="#3399ff">{{ Events[day][time].LocalTime}}</font>&emsp;&emsp;&emsp;&emsp;&emsp;
							<a href="{{Events[day][time].Link}}"><ion-icon item-right="" name="calendar" role="img" class="icon icon-ios ion-ios-calendar item-icon" aria-label="calendar" ng-reflect-name="calendar"></ion-icon><br /></a>
						</div>
					</ion-item>
				</ion-list>
			</div>
		</div>
	</a>
	
</ion-content>
